body {
  width: 100%;
  height: 100%;
  margin: 0;
}
header{
  text-align: center;
}
#featured-property{
  text-align: center;
}
nav {
  padding: 10px;
}
nav a{
  background-color: maroon;
  color: white;
}
p #featured-property{
  width: 800px;
}
div{
  float: left;
  text-align: center;
  width: 25%;
  background-color: red;
}